@use '@/shared/scss/underscore' as _;

.container {
  position: relative;

  .inputField {
    position: relative;
    @include _.flex-row;
    overflow: hidden;
    transition: border-color 0.15s ease;
    background: var(--field-bg);
    align-items: stretch;
    height: 38px;

    input {
      transition: width 0.2s ease;
      padding: 0 _.unit(3);
      flex: 1;
      background: inherit;
      caret-color: var(--color-brand-default);
      font: var(--font-body-2);
      color: var(--color-type-primary);
      outline: none;
      border-radius: var(--field-radius);
      letter-spacing: -0.01em;

      &::placeholder {
        color: var(--field-placeholder);
        transition: opacity 0.15s ease;
        opacity: 0%;
      }

      &:-webkit-autofill,
      &:-webkit-autofill:hover,
      &:-webkit-autofill:focus,
      &:-webkit-autofill:active {
        -webkit-text-fill-color: var(--color-type-primary) !important;
        -webkit-box-shadow: 0 0 0 1000px var(--field-bg) inset !important;
        box-shadow: 0 0 0 1000px var(--field-bg) inset !important;
        background-color: transparent !important;
        transition: background-color 999999s ease-in-out 0s;
        caret-color: var(--color-brand-default) !important;
      }

      &:-webkit-autofill {
        /* stylelint-disable-next-line time-min-milliseconds */
        animation: onAutoFillStart 0.01s forwards;
      }

      &:not(:-webkit-autofill) {
        /* stylelint-disable-next-line time-min-milliseconds */
        animation: onAutoFillCancel 0.01s forwards;
      }
    }

    .suffix {
      position: absolute;
      inset-inline-end: _.unit(2);
      top: 50%;
      transform: translateY(-50%);
      width: _.unit(8);
      height: _.unit(8);
      display: flex;
      z-index: 1;
    }

    &.isSuffixFocusVisible {
      input {
        padding-inline-end: _.unit(10);
      }
    }
  }

  &.active {
    .inputField {
      input::placeholder {
        opacity: 100%;
      }
    }
  }

  &.noLabel {
    .inputField {
      input::placeholder {
        opacity: 100%;
      }
    }
  }

  &.danger {
    .inputField {
      input {
        caret-color: var(--color-danger-default);
      }
    }
  }

  &:focus-visible {
    outline: none;
  }
}

.description {
  font: var(--font-body-3);
  color: var(--color-type-secondary);
  padding-top: _.unit(1);
  margin-inline-start: _.unit(0.5);
}

.errorMessage {
  margin-top: _.unit(1);
  margin-inline-start: _.unit(0.5);
}

:global(body.desktop) {
  .container {
    .inputField {
      height: 36px;

      input {
        font: var(--font-body-2);
      }
    }
  }
}

@keyframes onAutoFillStart {
  /* stylelint-disable-next-line block-no-empty */
  from {}
  /* stylelint-disable-next-line block-no-empty */
  to {}
}

@keyframes onAutoFillCancel {
  /* stylelint-disable-next-line block-no-empty */
  from {}
  /* stylelint-disable-next-line block-no-empty */
  to {}
}
