@use '@/shared/scss/underscore' as _;

$logo-height: 40px;

.container {
  width: 100%;
  @include _.flex-column;
  align-items: center;
  margin-bottom: 28px;
}

.iconContainer {
  display: none;
}

.logoWrapper {
  @include _.flex-row;
  align-items: center;
  justify-content: center;
  margin-bottom: 16px;
}

.connectIcon {
  color: var(--color-type-secondary);
  margin: 0 12px;
}

.logo {
  height: $logo-height;
  width: auto;
}

.headline {
  flex-shrink: 0;
  text-align: center;
  margin: 0;
  font: var(--font-headline-1);
  color: var(--color-type-primary);
  letter-spacing: -0.02em;
}

:global(body.mobile) {
  .logoWrapper {
    margin-bottom: 12px;
  }

  .headline {
    font: var(--font-headline-2);
  }

  .logo {
    height: 36px;
  }
}

:global(body.desktop) {
  .headline {
    font: var(--font-headline-1);
  }
}
