@use '@/shared/scss/underscore' as _;

.link {
  cursor: pointer;
  -webkit-tap-highlight-color: transparent;
  display: inline-flex;
  justify-content: center;
  transition: color 0.15s ease;

  > svg {
    margin-inline-end: _.unit(1.5);
  }

  &.primary {
    font: var(--font-label-2);
    color: var(--color-brand-default);
    text-decoration: none;

    &:active {
      color: var(--color-brand-pressed);
    }
  }

  &.secondary {
    color: var(--color-type-secondary);
    font: inherit;
    text-decoration: none;
  }
}

:global(body.desktop) {
  .link {
    &.primary:hover {
      color: var(--color-brand-hover);
    }

    &.primary:focus-visible {
      outline: 2px solid var(--color-brand-default);
      outline-offset: 2px;
      border-radius: 2px;
    }

    &.secondary:hover,
    &.secondary:active {
      color: var(--color-type-primary);
    }
  }
}
